body{
    background-image:url("pictures/front image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Jost', sans-serif;
    margin:auto;
}

/* .reveal{
    opacity:0;
} */

span{
    display:flex;
}

img{
    width:100%;
    height:100%;
}

#menubutton{
    font-size:200%;
    border:none;
}

#menu{
    position:fixed;
    width:0;
    height:100%;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    z-index:1;
    background-color: rgba(167, 11, 11, .5);
    overflow-x:hidden;
    transition:.5s;
}

#menuitems{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align:center;
    opacity:1;
    background-color:#A70B0B;
    padding:5%;
}

#menuitems h1{
    transition: .5s ease;
}
#menuitems h1:hover{
    color: #F1BA0A;
    cursor:pointer;
}

#title{
    width:70%;
    text-align: left;
    margin-left:10%;
    margin-top:10%;
    font-size:170%;
    min-height:800px;
}
  
#title h1{
    color: #F1BA0A;
}

button{
    font-size:60%;
    border:#F1BA0A 5px solid;
    color:#F1BA0A;
    padding:5px;
    transition-duration:.4s;
    text-decoration:none;
    font-family: 'Jost', sans-serif;
    background-color:transparent;
}

button:hover{
    border:#A70B0B 5px solid;
    color: #A70B0B;
    cursor:pointer;
}

#slideshow{
    background-color:#A70B0B;
    padding:10%;
    font-size:150%;
    min-height: 1300px;
    color:white;
}

#slideshow button{
    background-color:#A70B0B;
    font-size:150%;
    color:white;
    border:white 5px solid;
}

#slideshow button:hover{
    color:#F1BA0A;
    border:#F1BA0A 5px solid;
}

#slideshow img{
    height:50%;
    width:50%;
    cursor:pointer;
    margin: 0 1vw;
    display: block;
}
#flagslideshow{
    overflow: hidden;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
	position: relative;
	display: flex;
    padding:5%;
}
/* #flagslideshow:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
} */
/* #flagslideshow:hover div {
    animation-play-state: paused;
} */

.flags { 
    display: flex;
    position: relative;
    animation: marquee 20s linear infinite;
    justify-content: space-around;
    min-width:100%;
}

@keyframes marquee {
0%   { transform: translateX(0%); }
100% { transform: translateX(-100%); }
}

#spicelevel img{
    height:17%;
    width:17%;
    cursor:pointer;
    display:block;
}

#spicelevel{
    display:flex;
    
}

/* #test{
    background-color:#A70B0B;
} */

#restrictions img{
    height:20%;
    width:20%;
    cursor:pointer;
    display:block;
}

#restrictions{
    display:flex;
}

#parallax{
    background-image: url("pictures/parallax2.png");
    min-height:100px;
    color:#F1BA0A;
    font-size:200%;
    padding:10%;

    background-attachment: fixed;
}

#column1, #column2{
    display:flex;
    text-align:center;
    height:50%;
}

#favorites{
    cursor:pointer;
    background-color: rgba(167, 11, 11, 1);
}
#favorites img{
    object-fit:cover;
    height:100%;
    width:100%;
    opacity:.8;
}
.favoritehover{
    transition: .5s ease;
    position:relative;
}
.favoritehover img:hover{
    height:150%;
    width:100%;
    object-fit:cover;
}
#favorite1, #favorite3{
    width:30%;
}
#favorite2, #favorite5{
    width:40%;
}
#favorite4{
    width:60%;
}
.favoriteoverlay {
    transition: .5s ease;
    opacity:0;
}
.favoritehover:hover .favoriteoverlay{
    opacity:1;
}
.favoriteoverlay{
    color: #F1BA0A;
    position: absolute;  
    left: 50%;                        /* horizontal alignment */
    top: 50%;                       /* vertical alignment */
    transform: translate(-50%, -50%); 
    background-color: #A70B0B;
    height:100%;
    width:100%;
}
.favoriteoverlay h1{
    position:absolute;
    left: 50%;                        /* horizontal alignment */
    top: 50%;                       /* vertical alignment */
    transform: translate(-50%, -50%); 
}

#parallax3{
    background-image: url("pictures/parallax2.jpg");
    min-height:100px;
    padding:10%;
    background-attachment: fixed;
    color:#F1BA0A;
    font-size:200%;
}
#parallax3 button{
    font-size:100%;
}

#aboutme{
    background-color:#A70B0B;
    padding:10%;
    font-size:150%;
    color:white;
}
#abouttitle{
    display:flex;
}
#aboutme img{
    border-radius:100%;
    width:30%;
    height:30%;
    padding:2%;
}

#parallax2{
    background-image: url("pictures/parallax2.png");
    min-height:100px;
    padding:10%;
    background-attachment: fixed;
}
#parallax2 button{
    border-color: white;
    color:white;
}
#parallax2 button:hover{
    border-color:#A70B0B;
    color:#A70B0B;
}

#form{
    background-color:#F1BA0A;
    padding:10%;
    max-width:50%;
    margin:auto;
}

#form p{
    margin-top:-5%;
}
#footer{
    color:#F1BA0A;
    text-align:center;
}

textarea{
    width:100%; 
    resize:none;
}

input[type=text], textarea{
    padding:1%;
    background-color:white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    box-sizing:border-box;
    font-family: 'Jost', sans-serif;
    font-size:80%;
    border:none;
}

input[type=text]:hover, textarea {
    border: 1% solid black;
}

input[type=text]{
    width:100%;
}

input[type=submit]{
    padding:1%;
    font-family: 'Jost', sans-serif;
    font-size:100%;
    background-color:white;
    border:none;
}

input[type=submit]:hover{
    cursor:pointer;
    color:#A70B0B;
}

/* #slideshow{
    max-height: 100px;
} */

/*Styling for Shop.php*/

#noodlepics button{
    border:white 5px solid;
    background-color:transparent;
    padding:5px;
    font-size:100%;
    cursor:pointer;
    transition-duration:.4s;
    text-decoration:none;
    color:white;
}
#noodlepics button:hover{
    border-color:#F1BA0A;
    color:#F1BA0A;
}

#header img{
    width:50%;
    height:20%;
}
#header{
    font-size:200%;
    text-align: left;
    margin-left:10%;
}
#header h1, h2{
    cursor:pointer;
    transition-duration:.3s;
}
#header h1:hover{
    color:#A70B0B;
}
#sidebyside{
    display:flex;
    margin-left:4%;
    margin-right:4%;
}
#noodlepics{
    display:block;
    width:65%;
    margin:auto;
    background-color:#A70B0B;
    padding:2%;
}
.noodlepic{
    border:white 5px solid;
    padding:2%;
    text-align:center;
    cursor:pointer;
    transition: .5s ease;
    width:80%;
    display:flex;
    margin:auto;
    align-items: center;
    justify-content: center;
}
.noodlepic div{
    flex-basis:50%;
}
.noodlepic img{
    width:80%;
    height:80%;
    object-fit:cover;
}
.noodlepic:hover{
    border-color:#F1BA0A;
}
.noodlepic h1{
    font-size:150%;
}
.noodlesoverlay{
    position:fixed;
    width:0%;
    height:80%;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    z-index:1;
    background-color: rgba(167, 11, 11, .5);
    overflow-x:hidden;
    transition:.5s;
    display:flex;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.noodlesoverlay h2{
    cursor:auto;
}
.noodleoverlay1, .noodleoverlay2{
    display:block;
    color: white;
    opacity:1;
    background-color:#A70B0B;
    padding:5%;
    width:75%;
    height:75%;
    border:#F1BA0A 5px solid;
}
.closenoodleoverlay{
    cursor:pointer;
    transition:.5s ease;
}
.closenoodleoverlay:hover{
    color:#F1BA0A;
}
.noodlesoverlay img{
    width:90%;
    height:90%;
    object-fit:contain;
    transition: .5s ease;
}
.noodlesoverlay img:hover{
    width:110%;
    height:110%;
    object-fit:cover;
}

#searchbar{
    display:flex;
    font-size:150%;
}
#searchbar input, #searchbar button{
    display:block;
    transition: .5s ease;
}
#searchbar button:hover{
    border-color:#A70B0B;
    color:#A70B0B;
}
#filters{
    display:block;
    width:15%;
    background-color:#F1BA0A;
    margin-left:auto;
    margin-right:auto;
    padding:2%;
    color:black;
}
#filters h2:hover{
    color:#A70B0B;
}
#filters button{
    color:white;
    border-color:white;
}
#submitfilters input, #submitfilters button, #goback{
    border: white 5px solid;
    transition: .5s ease;
    background-color:transparent;
    color:white;
    padding:2%;
    font-size:100%;
    width:100%;
}
#submitfilters input:hover, #submitfilters button:hover, #goback:hover{
    border-color:#A70B0B;
    color:#A70B0B;
}
.dropdown{
    display:none;
}
#checkout{
    font-size:400%;
    left: 50%;                        /* horizontal alignment */
    top: 50%;                       /* vertical alignment */
    text-align:center;
}
input[type=number]{
    width:12%;
    padding:1%;
    font-family: 'Jost', sans-serif;
    font-size:100%;
    background-color:white;
    transition: .5s ease;
    border: 2px solid white;
    outline:none;
    box-sizing:border-box;
    
}
input[type=number]:focus {
    border: 2px solid #F1BA0A;
}
/*change this styling*/
.pagination{
    display:flex;
    justify-content: center;
}
.pagination a {
    color: white;
    padding: 2%;
    text-decoration: none;
    transition: background-color .5s;
  }
  
.pagination a.active {
    background-color: #F1BA0A;
    color: white;
  }
  
.pagination a:hover:not(.active) {
    background-color: #F1BA0A;
}

/*Styling for shoppingcart.php*/
.content{
    display:block;
    width:80%;
    margin:auto;
    background-color:#A70B0B;
    padding:2%;
}
.content tr{
    border-bottom:5px solid #F1BA0A; 
    padding:2%
}
.content {
    padding:2%;
}
.content hr{
    width:95%;
    border: #F1BA0A solid 5px;
}
.content button{
    font-size:150%;
    color:white;
    border: none;
    transition: .5s ease;
}
.content button:hover{
    color:#F1BA0A;
}
.content table{
    width:95%;
    font-size:150%;
}
#pay{
    position:relative;
    margin:auto;
}

/*Styling for computer-specific displays*/
@media (min-width: 1000px){
    #title{
        font-size:300%;
        margin-top:10%;
    }

    body{
        background-image:url("pictures/front image desktop.jpg");
    }

    #slideshow{
        font-size:300%;
    }

    #slideshow h1{
        margin-top:-5%;
    }

    #slideshow button{
        font-size:100%;
    }

    #form{
        font-size:200%;
    }

    #form p{
        margin-top:-2%;
    }

    .flexbox{
        display:flex;
        flex-direction:row;
    }

    .flexbox div{
        width:50%;
    }
    
    .flexbox > div input[type=text]{
        width:50%;
    }

}
  