body{
    background-image:url("pictures/front image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Jost', sans-serif;
    margin:auto;
}

#title{
    width:70%;
    text-align: left;
    margin-left:10%;
    margin-top:10%;
    font-size:170%;
}
  
#title h1{
    color: #F1BA0A;
}

button{
    border:#F1BA0A 3px solid;
    background-color:black;
    color:#F1BA0A;
    padding:5px;
    font-size:60%;
    transition-duration:.4s;
    text-decoration:none;
    font-family: 'Jost', sans-serif;
}

button:hover{
    border:#A70B0B 3px solid;
    color: #A70B0B;
    cursor:pointer;
}

#slideshow{
    background-color:#F1BA0A;
    padding:10%;
    font-size:150%;
    min-height:800px;
}

#slideshow button{
    background-color:#F1BA0A;
    font-size:150%;
    color:black;
    border:black 3px solid;
}

#slideshow button:hover{
    color:#A70B0B;
    border:#A70B0B 3px solid;
}

#slideshow img{
    height:25%;
    width:25%;
    cursor:pointer;
}

#parallax{
    background-image: url("pictures/parallax1.jpg");
    min-height:100px;
    color:#F1BA0A;
    font-size:200%;
    padding:10%;

    background-attachment: fixed;
}

#form{
    background-color:#F1BA0A;
    padding:10%;
}

#form p{
    margin-top:-5%;
}

textarea{
    width:100%; 
    resize:none;
}

input[type=text], textarea{
    padding:1%;
    background-color:white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    box-sizing:border-box;
    font-family: 'Jost', sans-serif;
    font-size:80%;
    border:none;
}

input[type=text]:hover, textarea {
    border: 1% solid black;
}

input[type=text]{
    width:100%;
}

input[type=submit]{
    padding:1%;
    font-family: 'Jost', sans-serif;
    font-size:100%;
    background-color:white;
    border:none;
}

input[type=submit]:hover{
    cursor:pointer;
    color:#A70B0B;
}

#slideshow{
    max-height: 100px;
}

/*Styling for Shop.php*/

#shin button{
    border:#F1BA0A 3px solid;
    background-color:black;
    padding:5px;
    font-size:60%;
    cursor:pointer;
    transition-duration:.4s;
    text-decoration:none;
}

/*Styling for computer-specific displays*/
@media (min-width: 1000px){
    #title{
        font-size:300%;
        margin-top:10%;
    }

    body{
        background-image:url("pictures/front image desktop.jpg");
    }

    #slideshow{
        font-size:300%;
    }

    #slideshow h1{
        margin-top:-5%;
    }

    #slideshow button{
        font-size:100%;
    }

    #form{
        font-size:200%;
    }

    #form p{
        margin-top:-2%;
    }

    .flexbox{
        display:flex;
        flex-direction:row;
    }

    .flexbox div{
        width:50%;
    }
    
    .flexbox > div input[type=text]{
        width:50%;
    }

}
  